body {
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #9a9a9a;
}

.main-container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding-top: 30px;
}

.invoice-edit-description {
  padding: 30px 20px;
}

.invoice-header-container {
  display: flex;

  h4 {
    flex-grow: 1;
  }
}

.invoice-header {
  margin-bottom: 20px;
  padding: 20px;
}

a.header-link {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 1.333em;
  margin-bottom: 1.333em;
}

.invoice-container {
  background-color: #c9c9c9;
  color: #4f4f4f;
  padding: 20px;

  @media screen and (max-width: 820px){
    padding: 0;
  }
}

.table-wrapper {
  background-color: #fff;
  padding: 20px;

  @media screen and (max-width: 820px) {
    padding: 20px 0;
  }

}

table {
  width: 100%;
  border-spacing: 0;

  @media screen and (max-width: 820px) {
    tbody tr:nth-child(6n + 1),
    tbody tr:nth-child(6n + 2),
    tbody tr:nth-child(6n + 3) {
      background-color: #f2f2f2;
    }

    tbody tr:nth-child(3n + 2) {
      td:not(first-child) {
        font-weight: bold;
      }
    }
  }

  @media screen and (min-width: 720px) {
    tbody tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }

  tr {
    height: 3em;

    &.invoice-total-row {
      border-bottom: 1px solid #cbcbcb;
    }
  }

  th, td {
    text-align: left;
    word-wrap: normal;
  }

  td input {
    width: 100px;

    @media screen and (max-width: 820px) {
      width: 50px;
    }
  }

  @media screen and (min-width: 820px) {
    .invoice-row-mobile,
    .invoice-row-mobile-header {
      display: none;
    }
  }

  &.pure-table {
    td, th {
      padding: 0.5em 1em;

      @media screen and (max-width: 820px) {
        padding: 5px;
      }
    }
    tfoot {
      tr {
        td {
          border-left: 0 solid #cbcbcb;
        }
      }
    }
  }
}

.tabs-wrapper {
  .tab-buttons {
    display: flex;
  }

  .tab {
    padding: 20px;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.2s;
    }

    &.active {
      background-color: #fff;
    }
  }
}

.breadcrumbs-container-desktop {
  display: block;

  @media screen and (max-width: 820px) {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .desktop-column {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .breadcrumbs-container-mobile {
    display: none;
  }
}

.align-right {
  text-align: right;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(30, 180, 65);
}

.button-error {
  background: rgb(200, 60, 60);
}

.button-warning {
  background: rgb(220, 120, 20);
}

.button-secondary {
  background: rgb(65, 185, 222);
}